<div id="page_content">
  <div class="page-header">
    <h2>
      Dashboard <span style="text-align:right;float:right;"><h4><%= link_to 'My Groups', groups_url %></h4></span>
    </h2>
  </div>

  <div class="page-body">
    <h4>
      Welcome <%= current_user.name %>
    </h4>
  </div>
</div>
