<div id="page_content">
  <div class="page-header">
    <h2>
     New Transaction
    </h2>
  </div>

  <div class="page-body">
    <%= form_for @transaction, url: group_transactions_url(@group), html: {class: "form-horizontal"} do |form| %>

      <%= render 'form', form: form, transaction: @transaction, group: @group %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <%= form.submit 'Create', class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
